<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
<h1>Book</h1>
<p>
    <a href="/create-book">Create a new book</a>
</p>
<form>
    Search by price:
    <input name="s" type="text">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <td>Name Book</td>
        <td>Date of purchase</td>
        <td>Author</td>
        <td>Price</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="book : ${books}">
        <tr>
            <td th:text="*{book.name}"></td>
            <td th:text="*{book.dateOfPurchase}"></td>
            <td th:text="*{book.author}"></td>
            <td th:text="*{book.price}"></td>
            <td><a th:href="@{/edit-book/__${book.id}__}">Edit</a></td>
            <td><a th:href="@{/delete-book/__${book.id}__}" onclick="return confirm('Are you sure?')">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/book'(page=${books.number - 1})}" th:if="${books.hasPrevious()}">Previous</a>
    <span th:text="${books.number + 1}"/>/<span th:text="${books.totalPages}"/>
    <a th:href="@{'/book'(page=${books.number + 1})}" th:if="${books.hasNext()}">Next</a>
</div>
</body>
</html>